<% let years = []; posts.forEach((item) => { const year = item.date.substring(0, 4); if (!years.includes(year)) { years.push(year); } }); %>

<div class="main">
    <div class="main-content">
        <div id="timeline-container">

                <% years.forEach(function(year) { %>

                <h2 style="color: #fff9db"><%=year%></h2>

                    <% posts.forEach(function(post) { %>
                        <%if (post.date.indexOf(year) !== -1) { %>

                            <a href="<%= post.link %>">
                                <h3  style="color:#fff" > <%= post.title %></h3>
                            </a>


                        <% } %>
                    <% }); %>


                 <% }); %>

        </div>
    </div>
</div>